# immutable & mutable

* `immutable object` : object에 저장된 값의 수정이 불가능
  * tuple, string, int, float, bool
* `mutable object` : object에 저장된 값의 수정이 가가능
  * list, dict, set

In [2]:
r = [1, 2]
print(id(r))

r += [3, 4]
print(r)
print(id(r)) # id of r is the same as before

140014528090176
[1, 2, 3, 4]
140014528090176

In [3]:
t = (1, 2)
print(id(t))

t += (3, 4)
print(t)
print(id(t)) # id of t is different from before

140014537242048
(1, 2, 3, 4)
140014528105984

# same function, different result by mutable & immutable

* **함수를 잘 정의하려면 python 내에서 참조하거나 조작하는 object의 type(성격)을 구분하고 그에 맞게 함수를 정의해야 한다.**
* 따라서 기본적으로 string, tuple은 immutable object이고 list, dict은 mutable object라는 것을 기억해야 함.

In [11]:
def add_last(m, n) :
    m += n
    

r = [1, 2]
add_last(r, [3, 4])
print(r)
'''
mutable case :
    add_last(r, [3, 4])
        m = r
        n = [3, 4]
    m += n 
        m = [1, 2, 3, 4]
        r = [1, 2, 3, 4]
        
    m and r are the same object

'''

t = (1, 3)
add_last(t, (5, 7))
print(t)
'''
immutable case :
    add_last(t, (5, 7))
        m = t
        n = (5, 7)
    m += n 
        m = (1, 3, 5, 7)
        t = (1, 3)
        
    m and t are different objects   
'''

[1, 2, 3, 4]
(1, 3)

'\nimmutable case :\n    add_last(t, (5, 7))\n        m = t\n        n = (5, 7)\n    m += n \n        m = (1, 3, 5, 7)\n        t = (1, 3)\n        \n    m and t are different objects   \n'

## solution

In [12]:
def add_last_tuple(m, n) :
    m += n
    return m

t = (1, 3)
t = add_last_tuple(t, (5, 7))
print(t)
'''
immutable case :
    add_last_tuple(t, (5, 7))
        m = t
        n = (5, 7)
    m = m + n
        m = (1, 3, 5, 7)
        t = (1, 3)
    return m
    t = (1, 3, 5, 7)
'''

(1, 3, 5, 7)

'\nimmutable case :\n    add_last_tuple(t, (5, 7))\n        m = t\n        n = (5, 7)\n    m = m + n\n        m = (1, 3, 5, 7)\n        t = (1, 3)\n    return m\n    t = (1, 3, 5, 7)\n'

# same function, different result by mutable & immutable

In [17]:
def min_max(d) :
    d.sort()
    print(d[0], d[-1], sep=', ')
    
l = [3, 1, 5, 4]
min_max(l)

print(l) # original list is changed

1, 5
[1, 3, 4, 5]

In [19]:
# but we want to keep the original list unchanged
def min_max2(d) :
    d = list(d) # d is a new object
    d.sort()    # sort the new object, not the original one
    print(d[0], d[-1], sep=', ')
    
l = [3, 1, 5, 4]
min_max2(l)

print(l) # original list is unchanged

1, 5
[3, 1, 5, 4]

In [21]:
# it works for tuple as well
t = (3, 1, 5, 4)
min_max2(t)

print(t)

1, 5
(3, 1, 5, 4)